Middle/webservice/src/test/java/com/epam/jmp/webservice/model/task1/Tickets.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://task1.model.webservice.jmp.epam.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://task1.model.webservice.jmp.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://task1.model.webservice.jmp.epam.com/" schemaLocation="Tickets_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="bookTicket">
    <part name="parameters" element="tns:bookTicket"/>
  </message>
  <message name="bookTicketResponse">
    <part name="parameters" element="tns:bookTicketResponse"/>
  </message>
  <message name="getTicket">
    <part name="parameters" element="tns:getTicket"/>
  </message>
  <message name="getTicketResponse">
    <part name="parameters" element="tns:getTicketResponse"/>
  </message>
  <message name="refund">
    <part name="parameters" element="tns:refund"/>
  </message>
  <message name="refundResponse">
    <part name="parameters" element="tns:refundResponse"/>
  </message>
  <message name="payBookedTicked">
    <part name="parameters" element="tns:payBookedTicked"/>
  </message>
  <message name="payBookedTickedResponse">
    <part name="parameters" element="tns:payBookedTickedResponse"/>
  </message>
  <portType name="tickets">
    <operation name="bookTicket">
      <input ns1:Action="http://task1.model.webservice.jmp.epam.com/tickets/bookTicketRequest" message="tns:bookTicket" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://task1.model.webservice.jmp.epam.com/tickets/bookTicketResponse" message="tns:bookTicketResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTicket">
      <input ns3:Action="http://task1.model.webservice.jmp.epam.com/tickets/getTicketRequest" message="tns:getTicket" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://task1.model.webservice.jmp.epam.com/tickets/getTicketResponse" message="tns:getTicketResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="refund">
      <input ns5:Action="http://task1.model.webservice.jmp.epam.com/tickets/refundRequest" message="tns:refund" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://task1.model.webservice.jmp.epam.com/tickets/refundResponse" message="tns:refundResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="payBookedTicked">
      <input ns7:Action="http://task1.model.webservice.jmp.epam.com/tickets/payBookedTickedRequest" message="tns:payBookedTicked" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://task1.model.webservice.jmp.epam.com/tickets/payBookedTickedResponse" message="tns:payBookedTickedResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

